# Configuración del Servidor
PORT=8080

# Base de Datos PostgreSQL
DATABASE_URL=jdbc:postgresql://localhost:5432/urbanpulse
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=urbanpulse
POSTGRES_PORT=5432

# Logging
LOG_LEVEL=debug