# Compilación Java y Maven
target/
*.class
*.jar
*.war

# IDEs (IntelliJ, VS Code, Eclipse)
.idea/
*.iml
.vscode/
.settings/
.project/
.classpath/

# Node / Frontend
node_modules/
frontend/build/
frontend/dist/
npm-debug.log*

# Entorno y variables secretas
.env
*.env.local

# Sistema Operativo
.DS_Store
Thumbs.db